/* Generales */

:root {
  --color-1: #BFA880;
  --color-2: #FCF6F1;
  --color-3: #575756;
  --color-4: #C6D7CF;
  --color-5: #DFEAE5;
}

/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Quicksand', sans-serif; */


/* Scroll */

::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-track {
background: #fff;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background:var(--color-4);  
}

::-webkit-scrollbar-thumb:hover {
background:var(--color-1);  
}

.custom-control-label::before {
  height: 20px;
  width: 20px;
}

.custom-control-label::after{
  height: 20px;
  width: 20px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: var(--color-1);
  border-color: var(--color-1);
  background-color: var(--color-1);
  outline: none;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow:none !important;
}

.fancybox-bg{
  background-color: var(--color-1) !important;
}

.boton{
  background: #fff;
  color: var(--color-1);
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  padding: 8px 25px;
  border-radius: 20px;
  font-size: 15px;

  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.40);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.40);
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.boton:hover{
  background:var(--color-1);
  color: #fff;
  text-decoration: none;
}

.title{
  width: 100%;
  display: inline-block;
  font-family: 'DM Serif Display', serif;
  color: #333;
  font-size: 45px;
}

.subtitle{
  width: 100%;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  color: var(--color-1);
  font-size: 20px;
  font-weight: 400;
}

ul{
  list-style: none;
  padding: 0;
}


a{
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}


.modal-backdrop {
  /* background-color:var(--color-1); */
  background-color:var(--color-1);
  opacity:0.95 !important;
}

.modal-body{
  flex: inherit;
}

.modal-transparent .modal-content{
  background: transparent;
  border: none;
}


.modal-transparent .close{
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  outline: none;
  padding: 0;
}

.modal-transparent .modal-header, .modal-transparent  .modal-footer{
  border: none;
  padding: 0;
}

.modal-transparent .modal-header h3{
  color: #F2F2F2;
  text-align: center;
  width: 100%;
}

.modal-transparent .boton{
  padding: 15px 50px;
}



/* Loader */
.preloader-area {
  position: fixed;
  background: var(--color-2);
  z-index: 11000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.preloader-area .loader{
  width: 90%;
  width: 300px;
}


span#error-form{
  color: red;
  font-size: 13px;
}


/* ---------- */


/* Portada */
section.portada{
  width: 100%;
  padding-bottom: 20%;
  background-size: cover;
  color: #fff;
  position: relative;
}

section.portada::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.20);
  z-index: 0;
  top: 0;
  left: 0;
}

section.portada:after{
  background-image: url('../img/img_ondas01.svg');
  background-color: rgb(0,0,0,0.4);
  position: absolute;
  content: '';
  /* background-size: contain !important; */
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  bottom: 0;
}

section.portada .container .row:first-child{
  height: 100vh;
}

section.portada .content-portada{
  width: 70%;
  z-index: 999;
  position: relative;
}

section.portada .content-portada span.fecha{
  display: table;
  white-space: nowrap;
  width: 100%;
  font-size: 18px;
  font-family: 'DM Serif Display', serif;
  font-size: 28px;
  color: #ddd;
}

section.portada .content-portada span.fecha:before{
 right: -25%;
}

section.portada .content-portada span.fecha:after{
 left: -25%;
}

section.portada .content-portada span:before, section.portada .content-portada span:after {
    border-top: 1px solid #fff;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.7em;
    width: 15%;
}

section.portada .content-portada h1{
  width: 100%;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 110px;
  line-height:110px;
  margin-bottom:0
}

section.portada .content-portada h2{
  width: 100%;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
}

section.portada .box-nombres-fecha-portada .line{
  height: 1px;
  width: 50%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20px;
}


section.portada .box-nombres-fecha-portada img{
  width: 75px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top:-70px;
}


.mariposa-3-portada::before,
.mariposa-3-portada::after {
  background-image: url('../img/mariposa_3.svg');
}
/* End Mariposa 3 Portada */

section.portada .box-nombres-fecha-portada h1 span{
  background-color: var(--color-1);
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 55px;
  font-size: 50px;
}

section.portada .box-frase-portada{
  margin-top: 20px;
}

section.portada .box-frase-portada p{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

section.portada .box-frase-portada p img{
  width: 30px;
  margin: 10px 0
}

section.portada .portada-flor-izq-sup{
  position: absolute;
  top:0;
  left: 0;
  width: 220px;
  z-index: 1;
}

section.portada .portada-flor-der-inf {
    position: absolute;
    bottom: 260px;
    right: 0;
    width: 140px;
    z-index: 1;
}

section.portada .portada-flor-izq-inf{
  position: absolute;
  bottom:-20%;
  left: 0;
  width: 17%;
  z-index: 999;
}

section.portada .flecha-continuar{
  width: 50px;
  position: absolute;
  bottom: -15%;
}


ul.lang-inv{
  position:absolute;
  width:100%;
  top:0;
}

ul.lang-inv li{
  margin: 0 5px;
}

ul.lang-inv li a{
  color: var(--color-1);
  background-color:var(--color-3);
  font-size:14px;
  font-family: var(--fuente-2);
  font-weight:400;
  display: inline-block;
  line-height:30px;
  height:30px;
  width:30px;
  text-align: center;
  border-radius: 50%;
}

ul.lang-inv li a:hover{
  text-decoration: none;
  background:var(--color-1);
  color:#fff
}


/* ---------- */


/* Cuenta regresiva */
section.cuenta-regresiva{
  position: relative;
  height: 250px;
  background: var(--color-2);
}

section.cuenta-regresiva .box-aros{
  width: 420px;
  height: 420px;
  background: url('../img/img_circuloContador01.svg') center center no-repeat;
  position: absolute;
}

section.cuenta-regresiva .box-aros .box-circulo{
  width: 290px;
  height: 290px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.40);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.40);
  padding: 20px;
  padding-top: 25px;
}

section.cuenta-regresiva .box-aros .box-circulo span.falta{
  width: 100%;
  text-align: center;
  display: inline-block;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  color: var(--color-1);
}

section.cuenta-regresiva .box-aros .box-circulo img.divisor{
  width: 40%;
  margin-top: -20px;
}

section.cuenta-regresiva .box-aros .box-circulo .corazon-falta{
  width: 18%;
  margin-top: 5px;
}

section.cuenta-regresiva .reloj{
  margin-bottom: 25px;
}

section.cuenta-regresiva .reloj-col{
  width: 25%;
  border-right: 1px solid #ccc;
  padding: 0 8px;
  float: left;
}

section.cuenta-regresiva .reloj-col.no-border{
  border: none;
}

section.cuenta-regresiva .reloj-col span.number{
  display: inline-block;
  width: 100%;
  color: var(--color-3);
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
}

section.cuenta-regresiva .reloj-col span.time{
  display: inline-block;
  width: 100%;
  color: var(--color-1);
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

section.cuenta-regresiva p.fin-cuenta{
  font-size: 30px;
  color: var(--color-3);
  font-family: 'DM Serif Display', serif;
}



/* ---------- */




/* Ceremonia - Fiesta */

section.ceremonia-fiesta{
  background: url('../img/img_ondas02.svg') center 30px no-repeat var(--color-2);
  background-color: var(--color-2);
  padding-bottom: 15%;
  position: relative;
}


section.ceremonia-fiesta .col-ceremonia, section.ceremonia-fiesta .col-fiesta{
  z-index: 999;
}


section.ceremonia-fiesta .col-ceremonia .anim-anillos, section.ceremonia-fiesta .anim-fiesta{
  width: 250px;
  margin: 0 auto;
}


section.ceremonia-fiesta .col-ceremonia h3, section.ceremonia-fiesta .col-fiesta h3{
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  color: #fff;
  background-color: var(--color-3);
  display: inline-block;
  position: relative;
  min-width: 40%;
  padding: 8px;
}


section.ceremonia-fiesta .col-ceremonia h3:after, section.ceremonia-fiesta .col-fiesta h3:after{
  background-image: url(../img/img_cinta02.svg);
  position: absolute;
  content: '';
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: left;
  height: 100%;
  width: 16px;
  right: -15px;
  top:0
}

section.ceremonia-fiesta .col-ceremonia h3:before, section.ceremonia-fiesta .col-fiesta h3:before{
  background-image: url(../img/img_cinta01.svg);
  position: absolute;
  content: '';
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: right;
  height: 100%;
  width: 16px;
  left: -15px;
  top:0
}

section.ceremonia-fiesta .info-col{
  margin-top: 30px;
}

section.ceremonia-fiesta .info-col .info-box{
  margin-bottom: 35px;
}

section.ceremonia-fiesta .info-col .info-box h6{
  font-family: 'DM Serif Display', serif;
  color: var(--color-3);
  font-size: 35px;
}

section.ceremonia-fiesta .info-col .info-box p{
  font-family: 'Quicksand', sans-serif;
  color: var(--color-3);
  font-size: 20px;
}

section.ceremonia-fiesta .info-col .info-box a.boton{
  margin-top: 5px;
  display: inline-block;
  width: 300px;
}

section.ceremonia-fiesta:after{
  background-image: url('../img/img_ondas03.svg');
  position: absolute;
  content: '';
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  bottom: 0;
}


section.ceremonia-fiesta .ceremonia-fiesta-flor-der{
  position: absolute;
  bottom:20%;
  right: 0;
  width: 10%;
}

section.ceremonia-fiesta .ondas-2{
  position: absolute;
  top: 3%;
}

section.ceremonia-fiesta .addeventatc .nameBtn{
  color: var(--color-1);
  font-weight: 400;
}

section.ceremonia-fiesta .addeventatc:hover .nameBtn{
  color: #fff;
}


/* ---------- */




/* Galeria */

section.galeria{
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
  background: url('../img/img_tramaGaleria.svg') left top repeat var(--color-5);
}

section.galeria .anim-galeria{
  width: 60px;
  margin: 0 auto;
}


section.galeria .content-fotos{
  margin-top: 40px;
  position: relative;
}

section.galeria .content-fotos img{
  width: 100%;
}


section.galeria .content-fotos .polaroid a{
  outline: none;
}


section.galeria .content-fotos .polaroid{
  background-color: #eee;
  padding: 15px;
  padding-bottom: 100px;
  margin: 5px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.432);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.40);
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

section.galeria .slick-slide:focus{
  outline: none !important;
}

section.galeria .slick-center .polaroid{
  background-color: #fff !important;
}

.content-fotos .shadow-left{
  display: none;
}

.content-fotos .shadow-right{
  display: none;
}

.slick-dots{
  bottom: -40px;
}


section.galeria .slick-dots li button:before{
  font-size: 60px !important;
  color: var(--color-1)  !important;
  opacity: 0.60;
}

section.galeria .slick-dots li.slick-active button:before{
  opacity: 1;
}

/* ---------- */



/* Fiesta */

section.fiesta{
  background: url('../img/img_ondas04.svg') center top no-repeat var(--color-5);
  padding-top: 18%;
  position: relative;
  padding-bottom: 17%;
}

section.fiesta .container{
  z-index: 999;
  position: relative;
}


section.fiesta .anim-musica{
  width: 75px;
}

section.fiesta .anim-vestuario{
  width: 95px;
}

section.fiesta .anim-tips{
  width: 55px;
}



section.fiesta:after{
  background-image: url('../img/img_ondas05.svg');
  position: absolute;
  content: '';
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  bottom: -1px;
}


section.fiesta .item-fiesta{
  margin-top: 60px;
  padding:0 40px;
}


section.fiesta .item-fiesta h3{
  color: var(--color-3);
}

section.fiesta .item-fiesta p{
  color: var(--color-3);
  margin-bottom: 0;
}

section.fiesta .item-fiesta a.boton{
  min-width: 85%;
}


section.fiesta .item-fiesta .content-item-fiesta{
  background-color: var(--color-2);
  padding:40px 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  min-height: 400px;
}

section.fiesta .content-anim-fiesta{
  height:80px;
}


/* ---------- */



/* Regalos */


section.regalos{
  background-color: var(--color-2);
  padding-top: 40px;
  position: relative;
  padding-bottom: 8%;
}

section.regalos .anim-regalos{
  width: 60px;
  margin: 1px auto 40px;
}


section.regalos .regalos-flor-der{
  position: absolute;
  bottom:15%;
  right: 0;
  width: 12%;
  z-index: 999;
}


/* ---------- */


/* Instagram */

section.instagram{
  padding-top: 16%;
  padding-bottom: 28%;
  /* background: url('../img/portada.jpg') center center; */
  position: relative;
}

section.instagram .container{
  position: relative;
  z-index: 999;
}


section.instagram:before{
  background-image: url('../img/img_ondas06.svg');
  position: absolute;
  content: '';
  /* background-size: contain !important; */
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
  width: 100%;
  top: 0;
}

section.instagram .title{
  color: #fff;
}

section.instagram .subtitle{
  color: #fff;
}


section.instagram .hashtag{
  color: #BFA880;
  text-transform: lowercase;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 40px;
  display: inline-block;
}

section.instagram .anim-instagram{
  width: 60px;
  margin: 0 auto 15px;
}

section.instagram:after{
  background-image: url('../img/img_ondas07.svg');
  position: absolute;
  content: '';
  /* background-size: contain !important; */
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  bottom: 0;
}



/* ---------- */



/* Footer */

section.footer{
  /* min-height: 275px; */
  position: relative;
  background: url('../img/img_trama.svg') center top repeat-y;
  background-color: var(--color-2);
  background-size: contain !important;
  padding-bottom: 15%;
  margin-top: -2px;
}

section.footer .col-nombres-footer img {
  width: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: -60px;
}


section.footer h4{
  width: 100%;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 70px;
  color: var(--color-1);
}

section.footer h5{
  width: 100%;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  color: #555;
}


section.footer h4 span {
  background-color: var(--color-1);
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-size: 40px;
}

section.footer .col-acciones-footer ul{
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-align: left;
}


section.footer .col-acciones-footer ul li{
  margin-bottom: 20px;
}


section.footer .col-acciones-footer ul a{
  color: var(--color-1);
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}


section.footer .col-acciones-footer ul a:hover{
  color: var(--color-3);
  text-decoration: none;
}


section.footer .addeventatc span.nameBtn{
  
  color: var(--color-1) !important;
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

section.footer .addeventatc span.nameBtn:hover{
  color: var(--color-3) !important;
}


/* ---------- */


/* Musica de fondo */

#player-musica-fondo{
  position: absolute;
  left:-99999px;
}

#controlador-musica{
  position: fixed;
  z-index: 999;
  top: 10px;
  right: 0;
}

.music-anim-icon{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* ---------- */






/* Firma */

footer p{
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 1rem;
}

footer p a{
  color: #BFA880;
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

footer p a:hover{ 
  text-decoration: none;
}



/* ---------- */



/* Modal Musica */

#modalMusica .modal-content{
  background: transparent;
  border: none;
}

#modalMusica .modal-content p{
  font-size:55px;
  line-height: 50px;
  font-family: 'DM Serif Display', serif;
  color:#fff;
  display:inline-block;
  width: 100%;
}

#modalMusica .modal-content p + span{
  font-size:22px;
  font-family: 'Quicksand', sans-serif;
  color:#fff;
  font-weight: 300;
  margin-bottom: 25px;
  display:inline-block;
  width: 100%;
}

#modalMusica .boton{
  font-size:14px;
  display: inline-block;
  background-color: var(--color-4);
  color: var(--color-3);
}

#modalMusica .boton:hover{
  background-color: var(--color-3);
  color: #fff;
}

/* Modal Confirmar asistencia*/


#modalAsistencia .modal-dialog{
  font-family: 'Quicksand', sans-serif;
  /* background-position-x: 55%; */
}

#modalAsistencia input, #modalAsistencia textarea{
  text-align: center;
  border: none;
  background: none;
  resize: none;
  outline: none;
  border-bottom: 1px solid var(--color-5);
  padding-bottom: 5px;
} 

#modalAsistencia input:focus, #modalAsistencia textarea:focus{
  border: none;
  box-shadow: none;
} 


#modalAsistencia .modal-content{
  text-align: center;
  border: none;
  background: var(--color-2);
  padding-bottom: 20px;
}


#modalAsistencia .modal-header{
  border: none;
  display: inline-block;
  font-family: 'DM Serif Display', serif;
  padding: 0;
}


#modalAsistencia .modal-header .modal-title{
  font-size: 25px;
  color: var(--color-3);
}

#modalAsistencia .modal-footer{
  border: none;
  display: inline-block;
  padding: 0;
}

#formAsistencia .form-group .form-check{
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
}

#formAsistencia .form-group .form-check label{
  cursor: pointer;
  padding-left: 5px;
}

#modalAsistencia .boton{
  outline: none;
  border: none;
}

#modalAsistencia .img-top-modal{
  position: relative;
}

#modalAsistencia .img-top-modal img{
  width: 45%;
  margin-top: -18%;
}

#modalAsistencia .close{
  position: absolute;
  top: -15px;
  right: 0;
  color: var(--color-1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  opacity: 1;
  outline: none;
  font-size: 34px;
  font-weight: normal;
  

  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;

}

#modalAsistencia .close:hover{
  background-color: var(--color-1);
  color: #fff;
}

#modalAsistencia .close span{
  display: inline-block;
  width: 100%;
  height: 100%;
}

#modalAsistencia .form-control{
  font-size: 15px;
}


/* Modal Sugerir cancion */

#modalSugerirCancion .modal-dialog{
  font-family: 'Quicksand', sans-serif;
}

#modalSugerirCancion input{
  text-align: center;
  border: none;
  background: none;
  resize: none;
  outline: none;
  border-bottom: 1px solid var(--color-5);
  padding-bottom: 5px;
} 

#modalSugerirCancion input:focus{
  border: none;
  box-shadow: none;
} 


#modalSugerirCancion .modal-content{
  text-align: center;
  border: none;
  background: var(--color-2);
  padding-bottom: 20px;
}


#modalSugerirCancion .modal-header{
  border: none;
  display: inline-block;
  font-family: 'DM Serif Display', serif;
  padding: 0;
}


#modalSugerirCancion .modal-header .modal-title{
  font-size: 25px;
  color: var(--color-3);
}

#modalSugerirCancion .modal-footer{
  border: none;
  display: inline-block;
  padding: 0;
}


#modalSugerirCancion .boton{
  outline: none;
  border: none;
}

#modalSugerirCancion .img-top-modal{
  position: relative;
}

#modalSugerirCancion .img-top-modal img{
  width: 45%;
  margin-top: -18%;
}

#modalSugerirCancion .close{
  position: absolute;
  top: -15px;
  right: 0;
  color: var(--color-1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  opacity: 1;
  outline: none;
  font-size: 34px;
  font-weight: normal;
  

  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

#modalSugerirCancion .close:hover{
  background-color: var(--color-1);
  color: #fff;
}


#modalSugerirCancion .close span{
  display: inline-block;
  width: 100%;
  height: 100%;
}

#modalSugerirCancion .form-control{
  font-size: 15px;
}

/* ---------- */




/* Modal Vestuario */

#modalVestuario .modal-dialog{
  font-family: 'Quicksand', sans-serif;
}


#modalVestuario .modal-content{
  text-align: center;
  border: none;
  background: var(--color-2);
  padding-bottom: 20px;
}


#modalVestuario .modal-header{
  border: none;
  display: inline-block;
  font-family: 'DM Serif Display', serif;
  padding: 0;
}


#modalVestuario .modal-header .modal-title{
  font-size: 25px;
  color: var(--color-3);
}

#modalVestuario .modal-footer{
  border: none;
  display: inline-block;
  padding: 0;
}


#modalVestuario .boton{
  outline: none;
  border: none;
}

#modalVestuario .img-top-modal{
  position: relative;
}

#modalVestuario .img-top-modal img{
  width: 45%;
  margin-top: -18%;
}

#modalVestuario .close{
  position: absolute;
  top: -15px;
  right: 0;
  color: var(--color-1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  opacity: 1;
  outline: none;
  font-size: 34px;
  font-weight: normal;
  

  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

#modalVestuario .close:hover{
  background-color: var(--color-1);
  color: #fff;
}


#modalVestuario .close span{
  display: inline-block;
  width: 100%;
  height: 100%;
}


/* ---------- */






/* Modal Tips */

#modalTips .modal-dialog{
  font-family: 'Quicksand', sans-serif;
}


#modalTips .modal-content{
  text-align: center;
  border: none;
  background: var(--color-2);
  padding-bottom: 20px;
}


#modalTips .modal-header{
  border: none;
  display: inline-block;
  font-family: 'DM Serif Display', serif;
  padding: 0;
}


#modalTips .modal-header .modal-title{
  font-size: 25px;
  color: var(--color-3);
}

#modalTips .modal-footer{
  border: none;
  display: inline-block;
  padding: 0;
}


#modalTips .boton{
  outline: none;
  border: none;
}

#modalTips .img-top-modal{
  position: relative;
}

#modalTips .img-top-modal img{
  width: 45%;
  margin-top: -18%;
}

#modalTips .close{
  position: absolute;
  top: -15px;
  right: 0;
  color: var(--color-1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  opacity: 1;
  outline: none;
  font-size: 34px;
  font-weight: normal;
  

  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

#modalTips .close:hover{
  background-color: var(--color-1);
  color: #fff;
}


#modalTips .close span{
  display: inline-block;
  width: 100%;
  height: 100%;
}


/* ---------- */





/* Modal Regalos */

#modalRegalos .modal-dialog{
  font-family: 'Quicksand', sans-serif;
}



#modalRegalos .modal-content{
  text-align: center;
  border: none;
  background: var(--color-2);
  padding-bottom: 20px;
}


#modalRegalos .modal-header{
  border: none;
  display: inline-block;
  font-family: 'DM Serif Display', serif;
  padding: 0;
}


#modalRegalos .modal-header .modal-title{
  font-size: 25px;
  color: var(--color-3);
}

#modalRegalos .modal-footer{
  border: none;
  display: inline-block;
  padding: 0;
}


#modalRegalos .img-top-modal{
  position: relative;
}

#modalRegalos .img-top-modal img{
  width: 45%;
  margin-top: -18%;
}

#modalRegalos .close{
  position: absolute;
  top: -15px;
  right: 0;
  color: var(--color-1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  opacity: 1;
  outline: none;
  font-size: 34px;
  font-weight: normal;
  

  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

#modalRegalos .close:hover{
  background-color: var(--color-1);
  color: #fff;
}


#modalRegalos .close span{
  display: inline-block;
  width: 100%;
  height: 100%;
}


/* ---------- */




/* Modal Como llegar */

#modalMapa .modal-dialog{
  font-family: 'Quicksand', sans-serif;
}


#modalMapa .modal-content{
  text-align: center;
  border: none;
  background: var(--color-2);
  padding-bottom: 20px;
}


#modalMapa .modal-header{
  border: none;
  display: inline-block;
  font-family: 'DM Serif Display', serif;
  padding: 0;
}

#modalMapa .modal-header .modal-title{
  font-size: 25px;
  color: var(--color-3);
}

#modalMapa .modal-footer{
  border: none;
  display: inline-block;
  padding: 0;
}


#modalMapa .img-top-modal{
  position: relative;
}

#modalMapa .img-top-modal img{
  width: 45%;
  margin-top: -18%;
}

#modalMapa .close{
  position: absolute;
  top: -15px;
  right: 0;
  color: var(--color-1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  opacity: 1;
  outline: none;
  font-size: 34px;
  font-weight: normal;
  

  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.50);
  
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

#modalMapa .close:hover{
  background-color: var(--color-1);
  color: #fff;
}


#modalMapa .close span{
  display: inline-block;
  width: 100%;
  height: 100%;
}

#modalMapa .modal-title{
  padding: 20px 0 10px;
}

#modalMapa .boton{
  margin-top: 10px;
  display: inline-block;
}


/* ---------- */



/* Modale de mensaje exito */

.modal-body.fix-height{
  height:60%;
}

.modal-body.fix-height .msj-content{
  height:100%;
}

.modal .msj-content{
  width:100%;
}

.modal .msj-content h5{
  text-align: center;
  width: 100%;
  display: inline-block;
  font-weight: 700;
  color:var(--color-1)
}

.modal .msj-content p{
  text-align: center;
  width: 100%;
  display: inline-block;
}

/* ---------- */




#googleMap {
  height: 430px;
  width: 100%; 
}



/* Banner para redirigir a la web */
.banner-contacto-web{
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height:auto;
  background:var(--color-1);
  z-index: 9999;
  padding:0;
  margin: 0;
}

.banner-contacto-web p{
  width: 100%;
  text-align: center;
  color:#fff;
  margin: 0;
  padding:8px 8px;
  font-family: var(--fuente-2);
  font-size: 13px;
}

.banner-contacto-web a{
  color:#FFF;
}

.banner-contacto-web a:first-child{
  background:var(--color-3);
  color:#fff;
  border-radius: 10px;
  padding:3px 10px;
}

.banner-contacto-web a:first-child:hover{
  text-decoration:none;
  color:var(--color-3);
  background-color:#fff;
}




/* Mariposas */

.mariposa-efect{
  display: flex;
  perspective: 500px;
}

.mariposa-efect::before,
.mariposa-efect::after {
  content: "";
  padding-top: 56%;
  flex: 1;
  background-size: 200% 100%;
  animation: left 0.5s linear infinite alternate;
  transform-origin: right;
}

.mariposa-efect::after {
  background-position: right;
  animation-name: right;
  transform-origin: left;
}


@keyframes left {
  from {
    transform: translateZ(80px) rotateY(-30deg)
  }
  to {
    transform:translateZ(0px) rotateY(50deg) 
  }
}

@keyframes right {
  from { 
    transform: translateZ(80px) rotateY(30deg)
  }
  to {
    transform:translateZ(0px) rotateY(-50deg) 
  }
}

/* End Mariposas */


/* Mariposa 1 Portada */
.mariposa-1-portada {
  width: 120px;
  transform: rotate(-8deg);
  position: absolute;
  left: 140px;
  top: 190px;
  opacity: 0.8;
}

.mariposa-1-portada::before,
.mariposa-1-portada::after {
  background-image: url('../img/mariposa_1.svg');
}
/* End Mariposa 1 Portada */




/* Mariposa 2 Portada */
.mariposa-2-portada {
  width: 125px;
  transform: rotate(125deg);
  position: absolute;
  right: 50px;
  bottom: 490px;
  opacity: 0.8;
}

.mariposa-2-portada::before,
.mariposa-2-portada::after {
  background-image: url('../img/mariposa_2.svg');
}
/* End Mariposa 2 Portada */




/* Mariposa 1 Ceremonia-Fiesta */
.mariposa-1-ceremonia-fiesta {
  width: 300px;
  position: absolute;
  top:400px;
  left:-100px;
  transform: rotate(45deg);
  opacity:0.6
}

.mariposa-1-ceremonia-fiesta::before,
.mariposa-1-ceremonia-fiesta::after {
  background-image: url('../img/mariposa_4.svg');
}
/* End Mariposa 3 Portada */



/* Mariposa 1 Regalos */
.mariposa-1-regalos {
  width: 250px;
  position: absolute;
  top:200px;
  left:-50px;
  transform: rotate(45deg);
  opacity:0.6
}

.mariposa-1-regalos::before,
.mariposa-1-regalos::after {
  background-image: url('../img/mariposa_5.svg');
}
/* End Mariposa 3 Portada */